<section class="my-5">
  <button mat-button routerLink="/userlist"><mat-icon>chevron_left</mat-icon>Users</button>
</section>

<form [formGroup]="form" (submit)="createUser()">
  <div class="flex flex-wrap sm:flex-no-wrap gap-3">
    <mat-form-field class="my-input" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="user_name" placeholder="Name">
      <mat-error *ngIf="form.get('user_name')?.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="my-input" appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" placeholder="Country">
      <mat-error *ngIf="form.get('country')?.hasError('required')">
        country is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="mini-header">
    <h3>Address Detail</h3>
  </div>
  <div class="example-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element;let i=index">
          <div class="flex gap-2">
            <div matTooltip="Edit" class="example-disabled">
              <button mat-mini-fab
                      class="my-button primary"
                      aria-label="Example mini fab with a heart icon"
                      type="button"
                      (click)="editAddress(element)"
                      >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- state Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
      </ng-container>

      <!-- city Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>

      <!-- ZipCode Column -->
      <ng-container matColumnDef="zipcode">
        <th mat-header-cell *matHeaderCellDef> ZipCode </th>
        <td mat-cell *matCellDef="let element"> {{element.zip_code}} </td>
      </ng-container>

      <!-- Telephone Column -->
      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> Telephone </th>
        <td mat-cell *matCellDef="let element"> {{element.tel_no}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <h4 class="pt-5 pl-5">No data Added.</h4>
        </td>
      </tr>
    </table>
  </div>

  <div class="flex justify-end gap-5 px-10 m-10">
    <button mat-raised-button
            class="my-button primary"
            (click)="addRow()"
            type="button"
    >
      Add Row
    </button>
    <button
      mat-raised-button
      class="my-button danger"
      (click)="deleteRow()"
      type="button"
    >
      Delete Row
    </button>
  </div>

  <div class="flex justify-start gap-5 px-10">
    <button
      disabled="{{form.invalid}}"
      mat-raised-button
      class="my-button primary"
      color="accent"
      type="submit">
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>
</form>
