<div class="flex flex-wrap sm:flex-no-wrap">
  <div class="mx-2">
    <p>
      <mat-form-field class="my-input" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" (input)="nameFilterChange($event)">
      </mat-form-field>
    </p>
  </div>
  <div class="mx-2">
    <p>
      <mat-form-field class="my-input" appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country" (input)="countryFilterChange($event)">
      </mat-form-field>
    </p>
  </div>
</div>
