<p>filter works!</p>
<div class="flex flex-row">
  <div class="mx-2">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name">
<!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
  </div>
  <div class="mx-2">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput placeholder="Country">
<!--        <mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </p>
  </div>
</div>
