<section *ngIf="data.isFormOpen">
  <div class="flex justify-between">
    <h1 mat-dialog-title>Address Details</h1>
    <div mat-dialog-actions>
      <button mat-mini-fab mat-dialog-close class="secondary" aria-label="Example icon button with a home icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="example-form ">
      <form [formGroup]="form" class="grid gap-4 grid-cols-2" (submit)="grabData()" autocomplete="off">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="State">
            <mat-error *ngIf="form.get('state')?.hasError('required')">
              State is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width mt-1.5">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" placeholder="Ex. 981 Freedom Lane" rows="4"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="City">
            <mat-error *ngIf="form.get('city')?.hasError('required')">
              City is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Zip Code</mat-label>
            <input matInput formControlName="zip_code" placeholder="Zip Code">
            <mat-error *ngIf="!form.get('zip_code')?.hasError('required') && form.get('zip_code')?.hasError('pattern')">
              Please enter a valid zip code
            </mat-error>
            <mat-error *ngIf="form.get('zip_code')?.hasError('required')">
              Zip code is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Telephone Number</mat-label>
            <input matInput formControlName="tel_no" placeholder="Telephone Number">
            <mat-error *ngIf="form.get('tel_no')?.hasError('pattern')">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <p class="text-center">
            <button
              disabled="{{form.invalid}}"
              type="submit"
              aria-label="Example icon button with a home icon"
              class="my-button primary"
              mat-raised-button>
              <mat-icon>add</mat-icon>
              Add
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
<section *ngIf="!data.isFormOpen && data.isUpdateButtonClicked && data.formData">
  <h1 mat-dialog-title>Are you Sure want to modify the document</h1>
  <p class="text-center">
    <button class="mx-3" mat-raised-button color="warn" aria-label="Example icon button with a home icon" (click)="submitData()">
      Yes
    </button>
    <button class="mx-3" mat-raised-button mat-dialog-close color="basic" aria-label="Example icon button with a home icon">
      No
    </button>
  </p>
</section>

<section *ngIf="data.submitSuccess && data.message">
  <h1 mat-dialog-title>{{data.message}}</h1>
  <p class="text-center">
    <button class="mx-3" mat-raised-button mat-dialog-close color="basic" aria-label="Example icon button with a home icon">
      Close
    </button>
  </p>
</section>
